; VLAN {{ item.tag }} MANAGEMENT - {{ item.network }}/{{ item.subnetmask }}

$TTL {{ item.ttl }} 
$ORIGIN {{ item.reversed|replace("tag", item.tag) }}.in-addr.arpa.

@    IN    SOA    ns.{{ item.domain }}. jorik.{{ item.domain }}. (
{# Results in:		2019070803		; serial #}
            {{ ansible_date_time.year }}{{ ansible_date_time.month }}{{ ansible_date_time.day }}{{ ansible_date_time.minute }}    ; serial
            1D            ; refresh
            1H            ; retry
            1W            ; expire
            3H            ; minimum
)

@       IN  NS      ns.{{ item.domain }}.
11     IN  PTR     ns.{{ item.domain }}.

; PTR records
1       IN  PTR    deathstar.{{ item.domain }}.
2       IN  PTR    starlight.{{ item.domain }}.
3       IN  PTR    delta.{{ item.domain }}.
4       IN  PTR    nebula.{{ item.domain }}.
5       IN  PTR    andromeda.{{ item.domain }}.
6       IN  PTR    ap-1.{{ item.domain }}.
7       IN  PTR    ap-2.{{ item.domain }}.
8       IN  PTR    pandora-1.{{ item.domain }}.
9       IN  PTR    pandora-2.{{ item.domain }}.
10      IN  PTR    pandora-ipmi.{{ item.domain }}.
12      IN  PTR    omega.{{ item.domain }}.
13      IN  PTR    atlantis.{{ item.domain }}.
14      IN  PTR    synology.{{ item.domain }}.
15      IN  PTR    mc-1.{{ item.domain }}.
16      IN  PTR    mc-2.{{ item.domain }}.
24      IN  PTR    k8s-1.{{ item.domain }}.
25      IN  PTR    k8s-2.{{ item.domain }}.
26      IN  PTR    k8s-3.{{ item.domain }}.
