
;
; VLAN {{ item.1.vlan_tag }} {{ item.1.name }} - REVERSED - {{ item.1.network }}/{{ item.1.subnetmask }}
;

;
; Time to live
;
$TTL {{ item.1.ttl }} 
{# ; $ORIGIN {{ item.0.domain }}. #}

;
; SOA records - zone information
;
{{ '%-15s'|format("@") }}      IN  {{ '%-8s'|format("SOA") }}    ns.{{ item.0.domain }}. {{ item.0.admin_user }}.{{ item.0.domain }}. (
{# Results in:		2019070803		; serial #}
{{ '%-15s'|format("") }}          {{ '%-8s'|format(ansible_date_time.year+ansible_date_time.month+ansible_date_time.day+ansible_date_time.minute) }}  ; serial
{{ '%-15s'|format("") }}          {{ '%-8s'|format("1D") }}    ; refresh
{{ '%-15s'|format("") }}          {{ '%-8s'|format("1H") }}    ; retry
{{ '%-15s'|format("") }}          {{ '%-8s'|format("1W") }}    ; expire
{{ '%-15s'|format("") }}          {{ '%-8s'|format("3H") }}    ; minimum
)

;
; NS records - name servers
;
{{ '%-15s'|format("") }}      IN  {{ '%-8s'|format("NS") }}    ns.{{ item.0.domain }}.

;
; reverse records for {{ item.1.network }}/{{ item.1.subnetmask }} - VLAN {{ item.1.vlan_tag }} {{ item.1.name }}
;
{# view records #}
{% for record in item.1.view.0.view_records %}
{% if record.type == "A" %}
{{ '%-15s'|format(record.target) }}      IN  {{ '%-8s'|format("PTR") }}    {{ '%-20s'|format(record.value+"."+item.0.domain) }}.
{% endif %}
{% endfor %}
{# dns_records #}
{% for record in item.1.dns_records %}
{% if record.type == "A" %}
{{ '%-15s'|format(record.target) }}      IN  {{ '%-8s'|format("PTR") }}    {{ '%-20s'|format(record.value+"."+item.0.domain) }}.
{% endif %}
{% endfor %}
