; VLAN {{ item.tag }} LAN - {{ item.network }}/{{ item.subnetmask }}

$TTL {{ item.ttl }} 
$ORIGIN {{ item.reversed|replace("tag", item.tag) }}.in-addr.arpa.

@    IN    SOA    ns.{{ item.domain }}. jorik.{{ item.domain }}. (
{# Results in:		2019070803		; serial #}
            {{ ansible_date_time.year }}{{ ansible_date_time.month }}{{ ansible_date_time.day }}{{ ansible_date_time.minute }}    ; serial
            1D            ; refresh
            1H            ; retry
            1W            ; expire
            3H            ; minimum
)

@       IN  NS      ns.{{ item.domain }}.
11     IN  PTR     ns.{{ item.domain }}.

; PTR records
1       IN  PTR    deathstar.{{ item.domain }}.
4       IN  PTR    ps4.{{ item.domain }}.
