$TTL {{ named_ttl }} 
@	IN	SOA	 ns.{{ item }}. jorik.{{ item }}. (
	{# Results in:		2019070803		; serial #}
					{{ ansible_date_time.year }}{{ ansible_date_time.month }}{{ ansible_date_time.day }}{{ ansible_date_time.minute }}		; serial
					1D				; refresh
					1H				; retry
					1W				; expire
					3H 				; minimum
)

; name servers - NS recors
				IN	NS	ns.{{ item }}.

; name servers - A & CNAME records
ns				IN	A		10.42.0.11
dns2			IN	CNAME	ns