{# # Include rndc-keys
# {% for vlan in named_vlans %}
# {{ subnet }};
# {% endfor %} #}
{# {% if named_blacklist is defined %}
# include Blacklist
include "{{ named_config_path }}/blacklist.conf";
{% endif %} #}

# include Logging
include "{{ named_config_path }}/logging.conf";

# Options
options {
  
  # Listening address/port
  listen-on port 53 { 127.0.0.1; any; };

  # Caching
  directory           "/var/cache/bind";
  dump-file           "/var/cache/bind/named_dump.db";
  statistics-file     "/var/cache/bind/named_stats.txt";
  memstatistics-file  "/var/cache/bind/named_mem_stats.txt";

  # Disable recursion because it is an authoritative server for some zones
  recursion no;
  allow-recursion { none; };

  # Who can query the server
  allow-query { any; };
{#  allow-query { whitelist; }; #}

  # Who has access to records in cache
  allow-query-cache { any; };
{#  allow-query-cache { whitelist; }; #}

  # DNS security
  dnssec-enable yes;
  dnssec-validation yes; # auto; 

  # Dont allow any transfers since we have no master/slaves
  allow-transfer { none; };

  # conform to RFC1035
  auth-nxdomain no;
{# 
 # Upstream DNS servers
 
  # forwarders {
  # 	{% for server in named_upstream_dns_servers %}
  # 	{{ server }};
  # 	{% endfor %}
  # };

  # Rndc options
  default-key "rndc-key";
  default-server {{ named_rndc_default_server }};
  default-port {{ named_rndc_default_port }}; #}

{# {% if named_blacklist is defined %}
  # Blacklist
  blackhole { blacklist; };
{% endif %} 
#}
};


# include Views
{% for dns_zone in dns_zones %}
{% for network in dns_zone.networks %}
include "{{ named_config_path }}/views/view_vlan_{{ network.vlan_tag }}.conf";
{% endfor %}
{% endfor %}



{# 

# # ACL
# acl "whitelist" {
# 	localhost;
# 	{% for subnet in named_acl_trusted %}
# 	{{ subnet }};
# 	{% endfor %}
# };


# # RNDC
# include "{{ named_rndc_key_file }}";

# controls {
# 	inet {{ named_rndc_default_server }} 
# 	port {{ named_rndc_default_port }} 
# 	allow { 127.0.0.1; }
# 	keys { rndc-key; };
# };
#}

