options {
        listen-on port 53 { 
            127.0.0.1;
            any; 
        };

        directory       "/var/cache/bind";
        dump-file       "/var/cache/bind/named_dump.db";
        statistics-file "/var/cache/bind/named_stats.txt";
        memstatistics-file "/var/cache/bind/named_mem_stats.txt";

        allow-query     { 10.30.20/24; 10.29.29/24; };
        allow-query-cache { 10.30.20/24; 10.29.29/24; };

        /* 
         - If you are building an AUTHORITATIVE DNS server, do NOT enable recursion.
         - If you are building a RECURSIVE (caching) DNS server, you need to enable 
           recursion. 
         - If your recursive DNS server has a public IP address, you MUST enable access 
           control to limit queries to your legitimate users. Failing to do so will
           cause your server to become part of large scale DNS amplification 
           attacks. Implementing BCP38 within your network would greatly
           reduce such attack surface 
        */
        #recursion yes;

        #dnssec-enable yes;
        dnssec-validation auto;
        auth-nxdomain no;

        forwarders {
                1.1.1.1;
                8.8.8.8;
                8.8.4.4;
        };
};

#logging {
#        channel default_debug {
#                file "data/named.run";
#                severity dynamic;
#        };
#};

logging {
    channel bind.query.log {
        file "/var/log/dns.query.log";
        print-time yes;
        severity debug 3;
    };
    category queries { bind.query.log; };
};


zone "cosmos.milkywaygalaxy.be" {
        type master;
        file "/etc/bind/db.cosmos.milkywaygalaxy.be";
};

zone "20.30.10.in-addr.arpa" {
        type master;
        file "/etc/bind/db.20.30.10";
};

{# include all dns zones #}
{% for zone in dns_zones %}
include /etc/bind/{{ zone.name }}/db.{{ zone.name }}
include /etc/bind/{{ zone.name }}/db.{{ zone.reverse_zone_name }}
{% endfor %}