
view "VLAN_{{ item.1.vlan_tag }}" {

  match-clients { 
    {{ item.1.network }}/{{ item.1.subnetmask }};
    localhost;
  };

  recursion {{ item.1.view.0.recursion }};

  # Zone VLAN {{ item.1.vlan_tag }}
  zone "{{ item.1.name|lower }}.{{ item.0.domain }}" {
    type master;
    file "{{ named_config_path }}/zones/db.vlan_{{ item.1.vlan_tag }}.{{ item.0.domain }}";
  };

  # Reverse zone VLAN {{ item.1.vlan_tag }}
  zone "{{ item.1.network.split('.')[0:3] |reverse() |join('.') }}.in-addr.arpa" {
    type master;
    file "{{ named_config_path }}/reversed_zones/db.vlan_{{ item.1.vlan_tag }}.reversed";
  };

  # Common zone {{ item.0.domain }}
  zone "{{ item.0.domain }}" {
    type master;
    file "{{ named_config_path }}/zones/db.common.{{ item.0.domain }}";
  };

};
