[Unit]
Description=Home DNS FastAPI Server
After=network.target

[Service]
User={{dns_api_service_user}}
Group={{dns_api_service_group}}
# User=root
# Group=root

WorkingDirectory={{named_config_path}}/{{dns_api_name}}
{%if dns_api_debug_mode %}
Environment=API_DEBUG=True
{%endif%}
Environment=DNS_SERVICE={{named_service_name}}
Environment=LOCAL_DNS_FILE={{dns_api_local_dns_file}}
ExecStart={{dns_api_service_executable}} main:api --host=0.0.0.0 --port={{dns_api_service_port}} --reload --use-colors
Restart=always

[Install]
WantedBy=multi-user.target
