;
; Common zone for all vlans (IP's that only occur in one subnet)
; DNS names with multiple IP's in different subnets should be in views!
;

$TTL {{ named_default_ttl }} 
{# ; $ORIGIN {{ item.0.domain }}. #}

;
; SOA records - zone information
;
{{ '%-15s'|format("@") }}      IN  {{ '%-8s'|format("SOA") }}    ns.{{ item.0.domain }}. {{ item.0.admin_user }}.{{ item.0.domain }}. (
{# Results in:		2019070803		; serial #}
{{ '%-15s'|format("") }}      IN  {{ '%-8s'|format(ansible_date_time.year+ansible_date_time.month+ansible_date_time.day+ansible_date_time.minute) }}  ; serial
{{ '%-15s'|format("") }}      IN  {{ '%-8s'|format("1D") }}    ; refresh
{{ '%-15s'|format("") }}      IN  {{ '%-8s'|format("1H") }}    ; retry
{{ '%-15s'|format("") }}      IN  {{ '%-8s'|format("1W") }}    ; expire
{{ '%-15s'|format("") }}      IN  {{ '%-8s'|format("3H") }}    ; minimum
)

;
; NS records - name servers
;
{{ '%-15s'|format("") }}      IN  {{ '%-8s'|format("NS") }}    ns.{{ item.0.domain }}.

{# 
===> LOGICA:
loop over dns_zones
if dns_zone.domain =  item.0.domain
dan loop over networks
loop over records van network 
#}

{# loop domains #}
{% for dns_zone in dns_zones %}
{# if domain is current domain #}
{% if dns_zone.domain == item.0.domain %}
{# loop networks #}
{% for network in dns_zone.networks %}
;
; records (non view) for {{ network.network }}/{{ network.subnetmask }} - VLAN {{ network.vlan_tag }} {{ network.name }}
;
{# loop records per network #}
{% for record in network.dns_records %}
{{ '%-15s'|format(record.value) }}      IN  {{ '%-8s'|format(record.type) }}    {{ '%-20s'|format(record.target) }}
{% endfor %}


{% endfor %}
{% endif %}
{% endfor %}
