;
; VLAN {{ item.1.vlan_tag }} {{ item.1.name }} - {{ item.1.network }}/{{ item.1.subnetmask }}
;

;
; Time to live
;
$TTL {{ item.1.ttl }} 
{# ; $ORIGIN {{ item.0.domain }}. #}

;
; SOA records - zone information
;
{{ '%-15s'|format("@") }}      IN  {{ '%-8s'|format("SOA") }}    ns.{{ item.0.domain }}. {{ item.0.admin_user }}.{{ item.0.domain }}. (
{# Results in:		2019070803		; serial #}
{{ '%-15s'|format("") }}          {{ '%-8s'|format(ansible_date_time.year+ansible_date_time.month+ansible_date_time.day+ansible_date_time.minute) }}  ; serial
{{ '%-15s'|format("") }}          {{ '%-8s'|format("1D") }}    ; refresh
{{ '%-15s'|format("") }}          {{ '%-8s'|format("1H") }}    ; retry
{{ '%-15s'|format("") }}          {{ '%-8s'|format("1W") }}    ; expire
{{ '%-15s'|format("") }}          {{ '%-8s'|format("3H") }}    ; minimum
)

;
; NS records - name servers
;
{{ '%-15s'|format("") }}      IN  {{ '%-8s'|format("NS") }}    ns.{{ item.0.domain }}.

;
; records (view specific) for {{ item.1.network }}/{{ item.1.subnetmask }} - VLAN {{ item.1.vlan_tag }} {{ item.1.name }}
;
{% for record in item.1.view.0.view_records %}
{# A records #}
{% if record.type == "A" %}
{{ '%-15s'|format(record.value) }}      IN  {{ '%-8s'|format(record.type) }}    {{ '%-20s'|format(item.1.network.split('.')[0:3] |join('.')+"."+record.target |string) }}
{# CNAME records #}
{% elif record.type == "CNAME" %}
{{ '%-15s'|format(record.value) }}      IN  {{ '%-8s'|format(record.type) }}    {{ '%-20s'|format(record.target |string) }}
{% endif %}
{% endfor %}
